.buttonCell > button {
  min-width: 6rem;
  max-width: 6rem;
}

.buttonCell > :nth-child(1) {
  background: rgb(232, 231, 231);
}

.buttonCell > :nth-child(2) {
  background: rgb(87, 182, 87) !important;
  color: #fff !important;
}

.buttonCell > :nth-child(3) {
  background: rgb(245, 92, 92) !important;
  color: #fff !important;
}
.buttonCell > :nth-child(2):hover {
  background: rgb(143, 201, 143) !important;
}
.buttonCell > :nth-child(3):hover {
  background: rgb(245, 125, 125) !important;
}
