:root {
  --b-table: #e3e3e2;
  --caption: #242423;
}

table {
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
}
th,
td {
  min-width: 10em;
}
.tableComponent-txt-center {
  text-align: center !important;
}

.tableComponent-txt-left {
  text-align: left !important;
}

.tableComponent-txt-right {
  text-align: right !important;
}

.tableComponent__table caption {
  color: var(--caption);
  font-size: 1.13em;
  font-weight: 700;
  padding-bottom: 0.56rem;
}

.tableComponent__table thead {
  font-size: 0.84em;
}

.tableComponent__table tbody {
  border-bottom: 1px solid var(--b-table);
  border-top: 1px solid var(--b-table);
  font-size: 0.84em;
}

.tableComponent__table tfoot {
  font-size: 0.84em;
}

.tableComponent__table td,
.tableComponent__table th {
  padding-right: 1.28em;
  padding-left: 1.28em;
}

.tableComponent__tableBordered,
.tableComponent__tableBordered td,
.tableComponent__tableBordered th {
  border: 1px solid var(--b-table);
}

.tableComponent__tableBordered td,
.tableComponent__tableBordered th {
  padding-left: 1em;
  padding-right: 1em;
}

.tableComponent__tableBordered tr:not(:last-child) {
  border-bottom: 1px solid var(--b-table);
}

.tableComponent__table thead td,
.tableComponent__table thead th {
  padding-bottom: 0.75em;
  vertical-align: bottom;
}

.tableComponent__table tbody td,
.tableComponent__table tbody th,
.tableComponent__table tfoot td,
.tableComponent__table tfoot th {
  padding-top: 0.75em;
  vertical-align: top;
}

.tableComponent__table tbody td,
.tableComponent__table tbody th {
  padding-bottom: 0.75em;
}

.tableComponent__tableBordered thead th {
  padding-top: 1.33em;
}

.tableComponent-overflow-x-auto {
  overflow-x: auto !important;
  -webkit-overflow-scrolling: touch;
}

th > input,
td > input {
  border: none;
  background: transparent;
  outline: none;
  font-size: 1.1em;
  color: #111;
  padding: 2vw;
  border-radius: 1px;
}
input:enabled {
  border-bottom: 1px solid #111;
  color: #111;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 34%,
    rgba(219, 228, 227, 1) 92%
  );
}

div > div > input,
.row:hover {
  cursor: pointer;
}
.MuiInputBase-root.Mui-disabled {
  color: rgb(100, 100, 100) !important;
}
